In [6]:
# 範例程式
# 導入模組
import pandas as pd
from sklearn import datasets

iris = datasets.load_iris() # 載入 iris data set
data = pd.DataFrameat(iris['data'], columns=['Sepal length', 'Sepal width', 'Petal length', 'Petal width']) # 將 column 改名
data['class'] = pd.DataFrame(iris['target']) # 將正確答案加入表格
 # 只考慮兩個資訊，並隨機的取出五朵花
# 把五朵花的名字改為 1 到 5
# 看看表格的樣子

   Petal length  Petal width  class
1           4.5          1.7      2
2           1.4          0.3      0
3           5.7          2.3      2
4           4.9          1.5      1
5           4.2          1.3      1

In [7]:
# 解答
data = data[['Petal length','Petal width']]
data

   Petal length  Petal width
1           4.5          1.7
2           1.4          0.3
3           5.7          2.3
4           4.9          1.5
5           4.2          1.3